*{ 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: rgba(6, 6, 6, 0.932);
    color: antiquewhite;
}

#containerH1, footer{ 
    background-color: rgba(6, 6, 6, 0.774);
}
#containerImgPrinc img{ 
    filter: drop-shadow(0px 0px 6px rgba(176, 161, 201, 0.747));
    animation: animate 6s linear infinite;
}
#containerInfoAk{ 
    background-color: rgba(6, 6, 6, 0.774);
    padding: 0.5rem;
    border: 1px;
    border-radius: 1rem;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.856);

}
@keyframes animate { 
    0%{ 
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{ 
        transform: perspective(1000px) rotateY(359deg);

    }
}
.btn{ 
    background-color: rgb(228, 96, 48);
    color: rgb(5, 5, 5);
    font-weight: 700;
}
.Icono{ 
    border: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.856);
    max-width: 167px!important;
}
h4{ 
    font-size: 1.8rem;
}
.skins{ 
   filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.956));
}
#containerImgPrinc2{ 
    display: none;
}
#graph{ 
    display: none;
}
.txt{ 
    font-size: 2rem;
}
.containerTxt{ 
    margin-top: 10%;
    background-color: rgba(6, 6, 6, 0.774);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.856);
    margin-bottom: 10%;
    border: 1;
    border-radius: 20px;

}

@media screen and (min-width: 1200px) {
    #containerImgPrinc{ 
        display: none;
    }
    #containerImgPrinc2{ 
        display: flex;
        position: absolute;
        top: 360px;
        right: -100px;
        transform: rotate(120deg);
    }
    .btn{ 
        background-color: rgb(255, 196, 0);
    }
    #containerInfoAk{ 
        height: fit-content;
    }
    #graph{ 
        display: flex;
    }
    h2, h3, h4{ 
        font-size: 3rem!important;
    }
    #containerJuegos{ 
        margin-top: 5%!important;
    }
}